@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --body: #1a1a1a;
    --containers: #282828;
    --border: #353535;
    --contrast: #fffd01;
  }
  input:focus {
    outline: 0 !important;
  }
  .main {
    background: var(--body);
  }
  .container {
    background: var(--containers);
    border: 2px solid var(--border);
    -webkit-box-shadow: -2px 17px 33px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 17px 33px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 17px 33px -14px rgba(0, 0, 0, 0.75);
  }
  .re-shadow {
    -webkit-box-shadow: -2px 17px 33px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 17px 33px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 17px 33px -14px rgba(0, 0, 0, 0.75);
  }
  .contrast {
    background: var(--contrast);
  }
  .movement {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .menu-movement {
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .loader {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, #1a1a1a 33%, yellow 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #282828;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
